#Mon Dec  9 10:40:28 2024/43
configobj~=5.0.8
webcolors~=1.13
xmltodict~=0.13.0
psutil~=5.9.6
aiohttp~=3.9.0
websocket-client~=1.6.4
paho-mqtt~=1.6.1
python-dateutil~=2.8.2
requests~=2.31.0
Pillow~=10.1.0
pygame~=2.5.2
setproctitle~=1.3.3
wget~=3.2
RPi.GPIO~=0.7.1