websocket-client~=1.6.4
requests~=2.31.0
aiohttp~=3.8.6
xmltodict~=0.13.0
paho-mqtt~=1.6.1
wiringpi~=2.60.1
webcolors~=1.13
python-dateutil~=2.8.2
configobj~=5.0.8
psutil~=5.9.6
pygame~=2.5.2
Pillow~=10.1.0
wget~=3.2