[pgawBR]
Clocked = 1
ScreenTitle = {}  ({:.1f}°)
ScreenTitleColor = white
ScreenTitleFields = System:Time:%H*%M*%S, MQTT:PatioTemp
type = Keypad
DefaultHub = HASSpga
label = Bedroom,
[[switch.bed_bath_side]]
type = ONOFF
label = Suzi, Bedside
[[switch.bed_win_side]]
type = ONOFF
label = Kevin, Bedside
#[[switch.bedroom_ceiling]]
[[switch.mbr_ceiling]]
type = ONOFF
[[bedroomoff]]
label = Bedroom, Off
type = RUNPROG
ProgramName = HASSpga:mbr_off
KeyColor = red
[[nightlight]]
label = Night, Bathroom
type = RUNPROG
Blink = 2
ProgramName = HASSpga:nightlighton
KeyColor = purple
[[bathroomoff]]
label = Bathroom, All, Off
type = RUNPROG
ProgramName = HASSpga:bathroom_off
KeyColor = red
Blink = 2


