[Varkeytest]
Clocked = 1
ScreenTitle = VarKey Test {}
ScreenTitleColor = red
ScreenTitleFields = System:Time:%H*%M*%S
type = Keypad
label = VARKEY, Test
        #   [[TestSeq]]
        #    type = VARKEY
        #    label = Error on Value, $
        #    Var = ISY:Int:Temp2
        #    ValueSeq = 1,2,3
        #    Appearance = 1 red 'FAN SPEED $; LOW',2 red 'FAN SPEED $; MED', 3 red 'FAN SPEED $; HIGH'

        [[Count-tmp]]
        type = VARKEY
        Var = HASSpga:light.vanity_ceiling:brightness
        DefaultAppearance =  Default grey 'Unkn'
        Appearance = 0:50 green 'level $', 51|52|53|54 pink 'Level $', 55:220 blue 'level; $', 220:250 purple 'high $', None orange 'Off'

        [[Fan Off]]
        type = VARKEY
        Var = HASSpga:light.lr_fan
        DefaultAppearance =  Default grey 'Fan;Unkn'
        Appearance = off red 'Fan;Off', on green 'Fan;On'
        ProgramName = HASSpga:set_lr_fan
        Parameter = speed:off

        [[Fan Low]]
        type = VARKEY
        Var = HASSpga:light.lr_fan:brightness
        DefaultAppearance =  Default grey 'Fan;Low'
        Appearance = 1:85 green 'Fan;Low'
        ProgramName = HASSpga:set_lr_fan
        Parameter = speed:low

        [[Fan Medium]]
        type = VARKEY
        Var = HASSpga:light.lr_fan:brightness
        DefaultAppearance =  Default grey 'Fan;Medium'
        Appearance = 86:170 green 'Fan;Medium'
        ProgramName = HASSpga:set_lr_fan
        Parameter = speed:medium

        [[Fan High]]
        type = VARKEY
        Var = HASSpga:light.lr_fan:brightness
        DefaultAppearance =  Default grey 'Fan;High'
        Appearance = 171:255 green 'Fan;High'
        ProgramName = HASSpga:set_lr_fan
        Parameter = speed:high