[Unit]
Description=VNC Server in Service Mode daemon
After=network.target

[Service]
User=pi
# delay is to work around the kswapd linux bug by not trying to start too much at once
ExecStartPre=/bin/sleep 60
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
KillMode=process

[Install]
WantedBy=multi-user.target
