[Unit]
Description=VNC Server in Service Mode daemon
After=network.target

[Service]
User=pi
Type=forking
# delay is to work around the kswapd linux bug by not trying to start too much at once
ExecStart=/usr/bin/vncserver
ExecStartPre=/bin/sleep 30
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
KillMode=process

[Install]
WantedBy=multi-user.target
