[Utility]
Clocked = 1
ScreenTitle = {}  ({:.1f}°)
ScreenTitleColor = white
ScreenTitleFields = 'System:Time:%I*%M*%S %p', HASS:sensor.br_balcony_am2301_temperature
DimTO = 40
type = Keypad
label = Garage,
[[switch.bedsideeast]]
KeyColor = blue
label = Bedside, (Kevin)
[[switch.bedsidewest]]
KeyColor = red
label = Bedside, (Suzi)
[[switch.mbr_main]]
KeyColor = blue
#[[Bathroom]]
[[switch.credenza]]
type = ONOFF
label = Credenza
[[light.main_hall]]
KeyColor = green
[[AwayStatus]]
type = SETINPUT
Var = HASS:input_boolean.home
Value = 'toggle'
label = TBool
Appearance = false Red "Away", true Green "Home"
DefaultAppearance = None Pink "InputSel:$"